<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/sudokuStyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <title>Sudoku Çözücü</title>
</head>
<body class="mainContainer">
<script src="/SudokuSolver.js" type="text/javascript"></script>
  <nav class="app-bar" id="nav1">
    <button onclick="HamburgerButtonClick();" class="button bar-button hamburger-button">
      <span class="material-icons">menu</span>
    </button>
    <div class="bar-font title">Sudoku</div>
    <div id="moreoption-sec" class="more-option-div more-button">
      <button onclick="moreOptionButtonClick()" class="button bar-button">
        <span class="material-icons">more_vert</span>
      </button>
      <div id="more-option-list" style="visibility: hidden;max-height: 10px;max-width: 40px;min-width: 40px;" class="more-option-list">
        <button onclick="hintButtonClick()" ripple-color="#003c8f" class="button nav-item vertical-adjust">İpucu</button>
        <button onclick="restartButtonClick()" ripple-color="#003c8f" class="button nav-item vertical-adjust">Yeniden Başlat</button>
        <button onclick="SurrenderButtonClick()" ripple-color="tomato" class="button nav-item vertical-adjust">Teslim Ol</button>
      </div>
    </div>

    <button id="pause-btn" onclick="pauseGameButtonClick()" class="button bar-button more-button">
      <span id="pause-icon" class="material-icons">pause</span>
      <span id="pause-text">Durdur</span>
    </button>
    <button id="check-btn" onclick="checkButtonClick()" class="button bar-button more-button">
      <span class="material-icons">done_all</span>
      <span>Kontrol Et</span>
    </button>
    <button id="isunique-btn" style="display: none;" onclick="isUniqueButtonClick();" class="button bar-button more-button">
      <span class="material-icons">call_split</span>
      <span>Eşsiz mi?</span>
    </button>
    <div id="radio-group" class="radio-group">
      <div class="custom-control custom-radio custom-control-inline" onclick="setGrid(9, 3);">
        <input type="radio" checked="checked" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">9x9</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline" onclick="setGrid(16, 4);">
        <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline3">16x16</label>
      </div>
    </div>
    <div id="controls" class="controls">
      <button class="js-solve  bar-button more-button" style="order: 7">
        <span class="material-icons">done</span>
        <span>Backtracking ile Çöz</span>
      </button>
      <button class="js-play  bar-button more-button" style="order: 6">
        <span class="material-icons">done</span>
        <span>Backtracking ile Çöz(adım)</span>
      </button>
      <button class="js-pause  bar-button more-button" style="order: 5">
        <span class="material-icons">done</span>
        <span>Durdur</span></button>
      <button class="js-continue  bar-button more-button" style="order: 4">
        <span class="material-icons">done</span>
        <span>Yükle</span>
      </button>
      <button class="js-reset  bar-button more-button" style="order: 3">
        <span class="material-icons">done</span>
        <span>Yeniden Başlat</span>
      </button>
    </div>

  </nav>

  <div id="hamburger-menu" class="hamburger-menu">
    <nav id="nav-menu" class="nav-menu">
      <div class="nav-head">
        <div class="nav-head-img">
          <img src="https://i.ibb.co/D4cZN4r/sudoku.png" art="" />
        </div>
        <div class="nav-head-title">Sudoku</div>
      </div>
      <ul class="nav-items">
        <button onclick="showDialogClick('dialog');" ripple-color="#003c8f" class="button nav-item vertical-adjust">
          <div>
            <span class="material-icons">add</span>
            <span style="left:12px;">Yeni Oyun</span>
          </div>
        </button>
        <button onclick="sudokuSolverMenuClick();" ripple-color="#003c8f" class="button nav-item vertical-adjust">
          <div>
            <span class="material-icons">edit</span>
            <span style="left:12px;">Sudoku Çözücü</span>
          </div>
        </button>
        <button onclick="showDialogClick('about-dialog');" ripple-color="#003c8f" class="button nav-item vertical-adjust">
          <div>
            <span class="material-icons">star</span>
            <span style="left:12px;">Hakkında</span>
          </div>
        </button>
      </ul>
    </nav>
    <div class="nav-menu-blank" onclick="hideHamburgerClick()">

    </div>
  </div>

  <div class="floating">
    <button onclick="showDialogClick('dialog');" class="button floating-btn vertical-adjust">
      <span class="material-icons">add</span>
    </button>
  </div>

  <div id="dialog" class="dialog">
    <div id="dialog-box" class="dialog-content">
      <div class="dialog-header">Yeni Oyun</div>

      <div class="dialog-body">
        <p>Başlamak için oyun zorluğunu seçiniz.</p>
        <ul>
          <li class="radio-option">
            <label for="very-easy">
              <input id="very-easy" value="Çok kolay" type="radio" name="difficulty"> Çok Kolay
            </label>
          </li>
          <li class="radio-option">
            <label for="easy">
              <input id="easy" value="Kolay" type="radio" name="difficulty"> Kolay
            </label>
          </li>
          <li class="radio-option">
            <label for="normal">
              <input id="normal" checked="checked" value="Normal" type="radio" name="difficulty"> Normal
            </label>
          </li>
          <li class="radio-option">
            <label for="hard">
              <input id="hard" value="Zor" type="radio" name="difficulty"> Zor
            </label>
          </li>
          <li class="radio-option">
            <label for="very-hard">
              <input id="very-hard" value="Çok Zor" type="radio" name="difficulty"> Çok Zor
            </label>
          </li>
        </ul>
      </div>

      <div class="dialog-footer">
        <button onclick="startGameButtonClick();" ripple-color="#003c8f" class="button dialog-btn vertical-adjust">Tamam</button>
        <button onclick="hideDialogButtonClick('dialog');" ripple-color="#202020" class="button dialog-btn vertical-adjust">İptal Et</button>
      </div>
    </div>
  </div>

  <div id="about-dialog" class="dialog">

    <div id="about-dialog-box" onblur="hideDialogButtonClick('about-dialog');" class="dialog-content about-dialog-content">
      <div class="dialog-header">Kiraz Game</div>

      <div class="dialog-body">
        <p>Hakkımda</p>
        <div class="card-group">
          <div class="sudoku-card dialog-card">
            <div class="about-card-img">
              <img src="https://i.ibb.co/VTsFFry/a.jpg" alt="" />
            </div>
            <div class="about-card-title">Furkan Kiraz</div>
            <div class="about-card-content">Türkiye</div>
            <div class="about-card-quote">Java-Spring Developer</div>
          </div>
        </div>
      </div>

      <div class="dialog-footer">
        <button onclick="hideDialogButtonClick('about-dialog');" ripple-color="#003c8f" class="button dialog-btn vertical-adjust">OK</button>
      </div>
    </div>
  </div>

  <div class="body" id="sudoku">
    <div id="container2">
      <div class="sudoku">
        <div class="sudoku-board">
        </div>
      </div>
    </div>
    <div class="sudoku-card game">
      <table id="puzzle-grid">
        <tr>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
        </tr>

        <tr>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
        </tr>

        <tr>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
        </tr>

        <tr>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
        </tr>

        <tr>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
        </tr>

        <tr>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
        </tr>

        <tr>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
        </tr>

        <tr>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
        </tr>

        <tr>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
          <td><input type="text" maxlength="1" onchange="checkInput(this)" disabled /></td>
        </tr>
      </table>
    </div>

    <div class="sudoku-card status">
      <div id="game-number">Oyun #0</div>
      <ul id="game-status" class="game-status">
        <li>
          <div id="timer-label" class="vertical-adjust">
            <span class="material-icons">timer</span>
            <span id="timer-label-label">Zaman</span>
          </div>
          <div id="timer" class="timer">00:00</div>
        </li>

        <li>
          <div class="vertical-adjust">
            <span id="game-difficulty-icon" class="material-icons">network_check</span>
            <span id="game-difficulty-label">Zorluk</span>
          </div>
          <div id="game-difficulty" class="timer">Tanımsız</div>
        </li>
        <li>
          <div class="stats js-console">
            <div class="vertical-adjust" style="display: none">
              <span class="material-icons">tag</span>
              <span>Bulunan Sayı</span>
            </div>
            <div id="js-console-digits" style="display: none"></div>
            <div class="vertical-adjust" style="display: none">
              <span class="material-icons">tag</span>
              <span>Geri Alınma Sayısı</span>
            </div>
            <div id="js-console-takebacks" style="display: none"></div>
            <div class="vertical-adjust" style="display: none">
              <span class="material-icons">tag</span>
              <span>Tahmin Sayısı</span>
            </div>
            <div id="js-console-guess" style="display: none"></div>
            <div class="vertical-adjust" style="display: none">
              <span class="material-icons">tag</span>
              <span>Geçen Süre</span>
            </div>
            <div id="js-console-time" style="display: none"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer vertical-adjust">
    <span class="material-icons">favorite</span>
    <span>Furkan Kiraz</span>
    <a href="https://github.com/Opersan/sudokuWebGame">#Repository</a>
    <span></span>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>